@using ClickKarmachari;
@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Employee/Employee_Layout_new.cshtml";
    UserMaster _LogedUser = ViewBag._LogedUser;
}

    <div class="modal-body">
        <div class="modal-content">
            <div class="col-md-12 p-3 card-left" style="display:none;text-align:center" id="msgdig">
                <div class="alert_R" style="border-radius: 5px; color: white;padding:inherit; background-color: #f91a1ab8 ">
                    <span id="failuremsg"></span>
                    <span class="closebtn " onclick="this.parentElement.style.display='none';" style="float:right">&times;</span>
                </div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            @using (Ajax.BeginForm("Change_Password", "Employee", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateUser" }, new { @id = "form", @enctype = "multipart/form-data", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" name="Old_Password" id="Old_Password" value="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="New_Password" id="new_Password" value="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="Confirm_password" id="confirm_password" value="" class="form-control" required>
                        <span id='message'></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <button type="submit" id="savebtn" name="Command" value="Save" class="btn btn-primary">Save changes</button>
                    </div>
                </div>

            }
        </div>
    </div>
   
    <script type="text/javascript">
        var password = document.getElementById("new_Password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>




