<div class="col-md-6 bg-br-primary d-flex align-items-center justify-content-center">
    <div class="wd-250 wd-xl-450 mg-y-30">
        <center>
            <div>
                <img style="height:300px; width:500px;" src="../img/NetroKartlogo.png" />
            </div>
        </center>
        <br /><br /><br />
        <div class="signin-logo tx-28 tx-bold tx-white"><span class="tx-normal">[</span>Netro  <span class="tx-white-8">Kart</span> <span class="tx-normal">]</span></div>
        <div class="tx-white-8 mg-b-60">Central Access </div>
        <h5 class="tx-white">Why NetroKart?</h5>
        <p class="tx-white-6">One place to shop all items with nearby store.</p>
        <a target="_blank" href="https://NetroKart.com" class="btn btn-outline-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium">Visit Showcase</a>
        <a href="tel:+919558675542" class="btn btn-outline-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium">+91 9558675542</a>
    </div>
</div>