  <!-- Box Accout -->
<div class="col-md-3 col-sm-6 box-account box-footer">
    <div class="module clearfix">
        <h3 class="modtitle">My Account</h3>
        <div class="modcontent">
            <ul class="menu">
                <li><a href="~/Home/Account">My Account</a></li>
                <li><a href="~/Home/Orders">Order History</a></li>
                <li><a href="~/Home/Members">Affiliates</a></li>
                <li><a href="~/Home/Account">My Payments</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Box Infomation -->
<div class="col-md-3 col-sm-6 box-information box-footer">
    <div class="module clearfix">
        <h3 class="modtitle">Information</h3>
        <div class="modcontent">
            <ul class="menu">
                <li><a href="~/Home/Page?id=aboutus">About Us</a></li>
                <li><a href="~/Home/Page?id=faq">FAQ</a></li>
                <li><a href="~/Home/Page?id=Privacy">Privacy Policy</a></li>
                <li><a href="~/Home/Page?id=terms">Terms And Conditions</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Box About -->
<div class="col-md-3  col-sm-6 collapsed-block box-footer">
    <div class="module ">
        <h3 class="modtitle">About Us</h3>
        <div class="modcontent">
            <ul class="contact-address">
                <li><span class="fa fa-home"></span> My Company, 42 avenue des Champs</li>
                <li><span class="fa fa-envelope"></span> Email: <a href="#"> sales@yourcompany.com</a></li>
                <li><span class="fa fa-phone">&nbsp;</span> Phone 1: 0123456789</li>
            </ul>
            <ul class="payment-method">
                <li><a title="Payment Method" href="#"><img src="../ecom_temp/image/demo/cms/payment/payment-1.png" alt="Payment"></a></li>
                <li><a title="Payment Method" href="#"><img src="../ecom_temp/image/demo/cms/payment/payment-2.png" alt="Payment"></a></li>
                <li><a title="Payment Method" href="#"><img src="../ecom_temp/image/demo/cms/payment/payment-3.png" alt="Payment"></a></li>
                <li><a title="Payment Method" href="#"><img src="../ecom_temp/image/demo/cms/payment/payment-4.png" alt="Payment"></a></li>
                <li><a title="Payment Method" href="#"><img src="../ecom_temp/image/demo/cms/payment/payment-5.png" alt="Payment"></a></li>
            </ul>
        </div>
    </div>
</div>