<ul class="megamenu " data-transition="slide" data-animationtime="250">

    <li class="">
        <p class="close-menu"></p>
        <a href="~/Home/Index" class="clearfix">
            <strong>Home</strong>
            <span class="label"></span>
        </a>
    </li>

    <li class="">
        <p class="close-menu"></p>
        <a href="~/Home/Page?id=oneday" class="clearfix">
            <strong>Oneday Delivery</strong>
            <span class="label"></span>
        </a>
    </li>
    
    <li class="">
        <p class="close-menu"></p>
        <a href="~/Home/Page?id=aboutus" class="clearfix">
            <strong>About Us</strong>
            <span class="label"></span>
        </a>
    </li>

</ul>