@{
    Layout = null;
    string s = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="Satyam Group - Administrator Portal" name="description">
    <meta content="Satyam Group - Administrator Portal" name="author">
    <meta content="Satyam Group - Administrator Portal" name="keywords" />
    <title>Satyam Group - Administrator Portal</title>
    <link rel="icon" href="~/Design/fevicon.svg" type="image/x-icon" />
    <link href="~/AdminTemplate/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/css/style.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/css/dark.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/css/skin-modes.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/plugins/animated/animated.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/plugins/icons/icons.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/switcher/css/switcher.css" rel="stylesheet" />
    <link href="~/AdminTemplate/assets/switcher/demo.css" rel="stylesheet" />
    <script src="~/AdminTemplate/assets/plugins/jquery/jquery.min.js"></script>
</head>

<body>
    <div class="page relative error-page1" style="background: linear-gradient(to top, #000000ba, #00000057),url(../AdminTemplate/images/team-work-process-young-business01.jpg); background-size: 100% 100%; ">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="container">
                <div class="customlogin-content forget-page">
                    <div class="pb-2">
                        <a class="header-brand">
                            <img src="~/Design/SatyamGroup.png" class="header-brand-img custom-logo" alt="Satyam Group" style="width:200px;height:90px">
                            <img src="~/AdminTemplate/assets/images/brand/logo-white.png" class="header-brand-img custom-logo-dark" alt="Click4Karmacharilog" style="width:200px;height:90px">
                        </a>

                    </div>
                    <div class="forgot-pass-pg" style="">
                        <h4 class="mb-3"style="font-size: 30px; font-weight: 700; color: #6f453e !important;">Forgot Your Password ?</h4>
                        <p class="mt-4" style="font-weight: 700; letter-spacing: 0.03em; color: #6f453e; margin-bottom: 0px !important;">Don’t worry resetting your password is very easy.<br /> We just require your email to send you the reset password link.</p>
                    </div>
                    <div class="p-0 pt-1">
                        <h1 class="mb-1"></h1>
                    </div>
                    @using (Ajax.BeginForm("Forgot_Password", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnAjaxcallbackPageFP" }, new { @id = "forgot", @class = "card-body", @enctype = "multipart/form-data", @name = "forgot", @role = "form" }))
                    {
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-label text-left">E-Mail <span class="text-red">*</span></label>
                                    <input class="form-control" style="border: 2px solid #6f453e; box-shadow: 0 3px 10px 0 rgb(214 71 71 / 16%);" placeholder="Your Email" type="email" name="Email" id="Email" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="submit mt-2">
                                    <button type="submit" id="Command" name="Command" style="background: #6f453e; border: 1px solid #012e58; color: #fff; " class="btn btn-primary btn-block" onclick="change()">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="text-center mt-3">
                        <p class="text-dark mb-0">
                            <small class="fs-14 font-weight-bold">
                                Already know your password ?
                                <a class="ml-1 fs-14 footer-hover" href="Login">Login</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/AdminTemplate/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/MasterV1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/AdminTemplate/assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/AdminTemplate/assets/js/custom.js"></script>
    <script src="~/AdminTemplate/assets/switcher/js/switcher.js"></script>
    <script src="~/AdminTemplate/assets/js/script.js"></script>
    <script src="~/AdminTemplate/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/AdminTemplate/assets/js/notify/notify-script.js"></script>
    <script src="~/AdminTemplate/assets/js/dashboard/default.js"></script>
    <script src="~/AdminTemplate/assets/js/bootstrap-notify.min.js"></script>



    @if (TempData["Notification"] != null)
    {
        <input type="hidden" id="PassingToJavaScript1" value="@TempData["Notification"]">
        <script type="text/javascript">
            var p1 = document.getElementById('PassingToJavaScript1').value;
            toastr.info(p1);
        </script>
    }
    @if (TempData["Result"] != null)
    {
        <input type="hidden" id="PassingToJavaScript1" value="@TempData["Result"]">
        <script type="text/javascript">
            var p1 = document.getElementById('PassingToJavaScript1').value;
            toastr.success(p1);
        </script>
    }
    @if (TempData["Failure"] != null)
    {
        <input type="hidden" id="PassingToJavaScript1" value="@TempData["Failure"]">
        <script type="text/javascript">
            var p1 = document.getElementById('PassingToJavaScript1').value;
            toastr.error(p1);
        </script>
    }

    <script>
        function change() {
            $('#loginpagediv').show();
            $('#OTPpagediv').hide();
        };
        $(document).on('click', '.toggle-password', function () {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#User_Password");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
        });
        $('#OTPpagediv').hide();
        $('#request-otp').on('click', function () {
            $('#loginpagediv').hide();
            $('#OTPpagediv').show();
        });
    </script>

    <script>
        $(document).ready(function () {
            document.getElementById('OTPpagediv').style.display = "none";
        });
        var OnAjaxcallbackPage = function (result) {

            if (result.EnableError) {
                addProductNotice(result.ToastMsgFail, '', '', 'failure');
                $('#mobile').val(m);
                document.getElementById('altmsgfailure').style.display = "block";
                document.getElementById('msgsfailure').html = result.ToastMsgFail;
            }
            else {
                addProductNotice(result.ToastMsgSuc, '', '', 'success');
                document.getElementById('loginpagediv').style.display = "none";
                document.getElementById('OTPpagediv').style.display = "block";
                $('#mobileotp11').val(result.mobile);
                document.getElementById("mobileset").innerText = result.mobile;
                document.getElementById('altmsgsuccess').style.display = "block";
                $("#msgsuccess").html(result.ToastMsgSuc);
            }
        }

        var OnAjaxcallbackOTPPage = function (result) {
            // alert("call..");
            if (result.EnableError) {
                addProductNotice(result.ToastMsgFail, '', '', 'failure');
            }
            else {
                window.location = result.Refresh;
            }
        }
        function OnAjaxcallbackPageFP(data) {

            if (data.ErrorMsg != null) {
                alert(data.ErrorMsg);
            }
            if (data.ErrorTitle == "S") {

                addProductNotice(data.ToastMsgSuc, '', '', 'success');
            }
            if (data.ErrorTitle == "F") {

                addProductNotice(data.ToastMsgFail, '', '', 'failure');
            }
            if (data.Refresh == "Login") {
                setTimeout(function () {
                    location.reload();
                }, 2000);
            }
            else if (data.Refresh != null) {
                window.location.href = data.Refresh;
            }
        }
    </script>

</body>

</html>
